.center-container2 {
  /* Center the content in the container */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
}

.main-wrapper {
  /* Additional styling for the main content */
  width: 80%; /* Adjust the width as needed */
  position: relative; /* Add position relative to create a stacking context */
}

.main-title {
  color: #333;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.main-title2 {
  color: #eae7e7;
  margin-bottom: 3rem;
  font-size: large;
  font-weight: bolder;
}

.reward-status-card {
  max-width: 400px; /* Set your desired fixed size */
  width: 100%; /* Allow the card to take 100% of the width on smaller screens */
  border: 1px solid #ded9d9;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 0 auto; /* Center the container horizontally */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #007bff, #00bfff); /* Blue gradient */
  color: #fff; /* Set text color to white for better visibility */
  position: relative; /* Add position relative to create a stacking context */
  z-index: 1; /* Set a higher z-index to keep it on top */
}

.reward-status-content {
  text-align: center;
}

.reward-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.toggle-incentives {
  cursor: pointer;
  color: #007bff; /* Change color as needed */
  margin-top: 10px;
}

.incentive-list {
  list-style-type: none;
  padding: 0;
}

.incentive-list li {
  margin-top: 10px;
  margin-bottom: 8px;
}

.point,
.reward-points {
  margin: 4px 0;
}

.points {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 5px;
}

.point {
  font-size: large;
  margin-top: 0.5rem;
  margin-bottom: 5rem;
  font-weight: bolder;
}

.cca {
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}

.reward-points {
  font-weight: bold;
  padding-top: 6rem;
}

.rewards-titles{
  margin-bottom: 10px;
}

.receive-title{
  margin-top: 5px;
  font-weight: bold;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  .reward-status-card {
    max-width: none; /* Remove the max-width on smaller screens */
  }

  .center-container2{
    margin-bottom: 4rem;
  }

}

