.img-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.img-container > * {
  padding:1rem;
} 

.img-container > img {
  height: 350px;
} 

.info-container {
  padding: 5rem;
  background: #1b6596;
  
}

.info-container > h1 {
  text-align:left;
  float: left;
  color: white;
  width: 33%;
  height: 100px;
}

.info-container > p {
  text-align:left;
  margin: auto;
  color: white;
  width: 100%;
}

.info-container-lightblue {
  display: flex;
  background:lightblue;
}

.info-container-left{
  flex: 1;
  padding: 30px;
  box-sizing: border-box;
}

.info-container-right{
  flex: 1;
  box-sizing: border-box;
}

.info-container-right > img{
  margin-top: 10%;
  margin-left: 10%;
  height: auto;
  width: 400px;
}

.top{
  padding: 10%;
}

.bottom{
  padding: 10%;
}

.top > h1{
  color:#094a75;
}

.bottom > h1{
  color:#094a75;
}